<h1>Menu</h1>
<!-- menu.ejs -->
<html>

<head>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add New User</a></li>
            <li><a href="/list">All List User</a></li>
        </ul>
    </div>
</body>

</html>